<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Sheeny - Jogo</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body class="theme">

<div id="game" class="card">

  <h2 v-if="tela !== 'timer'">
    {{ nomesJogadores[jogo.jogadorAtual] }}
  </h2>

  <!-- TELA PASSE -->
  <div v-if="tela === 'passe'">
    <p>Passe o celular</p>
    <button @click="verPalavra">Ver minha palavra</button>
  </div>

  <!-- TELA PALAVRA -->
  <div v-if="tela === 'palavra'">
    <h3>{{ palavraAtual }}</h3>
    <button @click="proximoJogador">OK, próximo</button>
  </div>

  <!-- TELA TIMER -->
  <div v-if="tela === 'timer'">
    <p>⏱️ {{ Math.floor(tempoRestante / 60) }}:
    {{ (tempoRestante % 60).toString().padStart(2, '0') }}</p>


    <div class="placar">
      <div v-for="(pontos, jogador) in jogo.pontos" :key="jogador">
        {{ nomesJogadores[jogador] }}: {{ pontos }} pontos
      </div>
    </div>

    <button class="success" @click="impostorGanhou">Impostor ganhou</button>
    <button @click="tripulacaoGanhou">Tripulação ganhou</button>
  </div>

  <!-- TELA FINAL -->
<div v-if="tela === 'final'">
  <h2>Fim de jogo 🎉</h2>

  <div class="placar">
    <div v-for="(pontos, jogador) in jogo.pontos" :key="jogador">
      Jogador {{ jogador }}: {{ pontos }} pontos
    </div>
  </div>

  <p class="subtitle">
    Quem ganhou? Descubram juntos 😄
  </p>

  <button class="secondary" @click="reiniciarJogo">
    Jogar novamente
  </button>
</div>


</div>
<script src="game.js"></script>

</body>
</html>
